#!/bin/bash

# ==============================
# Settings file for openttd-init
# ==============================
# 
# Edit the variables listed, and make sure you put in the username
# Then rename the file from 'config.example' -> 'config'
# 

# User that should run the server
USERNAME=""

# Name to use for the screen instance
SCREEN="server_screen"

# Path to openttd server config directory  (CONFIGPATH can not end with a /)
CONFIGPATH="/home/${USERNAME}/.openttd"

# When saving your world, this is the filename.
SAVEGAME="myGame"

